@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --font-sans:
    Satoshi, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-scrollbar-track: #f1f5f9; /* slate-100 */
  --color-scrollbar-thumb: #cbd5e1; /* slate-300 */
  --color-scrollbar-thumb-hover: #ec4899; /* pink-500 */
  --color-scrollbar-thumb-active: #a21caf; /* fuchsia-800 */
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
    border-radius: 9999px;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 9999px;
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }

  *::-webkit-scrollbar-thumb:active {
    background: var(--color-scrollbar-thumb-active);
  }
}
